---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE, SOCIALS, WORK } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { dateRange } from "@lib/utils";
import { getCollection } from "astro:content";

const collection = (await getCollection("work")).sort(
  (a, b) =>
    new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf(),
);

const work = await Promise.all(
  collection.map(async (item) => {
    return item;
  }),
);
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="font-semibold text-black dark:text-white">About</div>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p>
              I'm Philipp from Germany. I currently work as a software engineer
              at Robert Bosch GmbH in Stuttgart. In my past time I like
              motorsports, cooking and good espresso.
            </p>
          </article>
        </section>

        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  {entry.rendered?.html && (
                    <div set:html={entry.rendered.html} />
                  )}
                </article>
              </li>
            ))
          }
        </ul>

        <section class="space-y-4">
          <h5 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h5>
          <article>
            <p>
              If you want to get in touch with me about something or just to say
              hi, just reach out on social media or send me an email.
            </p>
          </article>
          <ul class="flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.NAME}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
        <!-- 
      <ul class="flex flex-col gap-4">

      </ul> -->
      </div>
    </div>
  </Container>
</PageLayout>
