---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import { SITE } from "@consts";
import Analytics from "@vercel/analytics/astro";

type Props = {
  title: string;
  description: string;
  noindex?: boolean;
  lang?: string;
};

const { title, description, noindex = false, lang = "en" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head
      title={`${title} | ${SITE.NAME}`}
      description={description}
      noindex={noindex}
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
